<h1>Thank you</h1>
<p>Article has been create.</p>
<!-- <a href="articles">'Show all articles'</a>  3=4--> 
<!-- линк измненен на такой для того,чтобы в будущем если что не поломалось маршруты url -->
<%= link_to 'Show all articles!', articles_path %>
